<script setup>
    import TopCard from '../components/partials/workstations/TopCard.vue';
</script>
<template>
    <section class="hero-section d-flex align-items-center justify-content-center px-3">
        <div class="text-center">
            <h1 page-title>Workstation</h1>
            <p page-description>All-in-one Afriblocks platform for working with freelancers</p>
        </div>
    </section>
    <section id="silent-row" class="bg-body py-5">
        <div class="container my-5">
            <div class="row text-light">
                <div class="col mt-2">
                    <TopCard title="100+" label="Verified freelancers"/>
                </div>
                <div class="col mt-2">
                    <TopCard title="20+" label="Available Services"/>
                </div>
                <div class="col mt-2">
                    <TopCard title="800+" label="Jobs Completed"/>
                </div>
                <div class="col mt-2 ">
                    <TopCard title="4.9/5" icon="/icons/star.svg" label="Average Client Rating"/>
                </div>
            </div>
        </div>
    </section>
    <section id="collaboration" class="bg-body">
        <div class="container">
            <div class="row text-light">
                <div class="col-md-6 col-sm-12 my-auto">
                    <div class="d-flex flex-row align-items-center justify-content-start">
                        <div class="d-flex p-4 rounded-circle justify-content-center align-items-center" workstation-tile-rounded>
                            <span workstation-tile-number>1</span>
                        </div>
                        <div class="d-flex justify-content-start flex-column align-items-start" workstation-tile-left>
                           <h2 workstation-tile-title>Collaboration</h2>
                            <p workstation-tile-description>AfiBlocks Workstation comes with an in-app chatting feature for one-on-one texting or for a team by creating a group chat to make collaboration easy and seamless.</p>
                        </div> 
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="d-flex flex-column align-items-center justify-content-center m-auto" workstation-card>
                        <img src="/icons/collaboration.svg" alt="" workstation-tile-svg>
                        <div class="d-flex flex-row justify-content-between align-items-center my-auto" workstation-tile-logos>
                            <img src="/img/logo.png" alt="" workstation-tile-afriblocks-logo>
                            <span workstation-tile-x-logo>x</span>
                            <img src="/icons/techstars_.svg" workstation-tile-teachstars-logo>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="vector-1" class="bg-body d-flex align-items-center justify-content-center">
        <img src="/icons/right-left-dashed.svg" alt="" workstation-separator>
    </section>
    <section id="collaboration" class="bg-body">
        <div class="container">
            <div class="row text-light">
                <div class="col-md-6 col-sm-12">
                    <div class="d-flex flex-column align-items-center justify-content-center m-auto" workstation-card>
                        <img src="/icons/video-voice.svg" alt="" workstation-tile-svg>
                        <div class="d-flex flex-row justify-content-between align-items-center my-auto" workstation-tile-logos>
                            <img src="/img/logo.png" alt="" workstation-tile-afriblocks-logo>
                            <span workstation-tile-x-logo>x</span>
                            <img src="/icons/techstars_.svg" alt="" workstation-tile-techstars-logo>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 my-auto">
                    <div class="d-flex flex-row align-items-center justify-content-start">
                        <div class="d-flex p-4 rounded-circle justify-content-center align-items-center" workstation-tile-rounded>
                            <span workstation-tile-number>2</span>
                        </div>
                        <div class="d-flex justify-content-start flex-column align-items-start" workstation-tile-right>
                           <h2 workstation-tile-title>Video / Voice calls</h2>
                            <p workstation-tile-description>Perform interviews, crucial meetings or team standups with the Video / voice call feature in this Workstation without having to use an external tool.</p>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="vector-2" class="bg-body d-flex align-items-center justify-content-center">
        <img src="/icons/left-right-dashed.svg" alt="" workstation-separator>
    </section>
    <section id="invoicing" class="bg-body">
        <div class="container">
            <div class="row text-light">
                <div class="col-md-6 col-sm-12 my-auto">
                    <div class="d-flex flex-row align-items-center justify-content-start">
                        <div class="d-flex p-4 rounded-circle justify-content-center align-items-center" workstation-tile-rounded>
                            <span workstation-tile-number>3</span>
                        </div>
                        <div class="d-flex justify-content-start flex-column align-items-start" workstation-tile-left>
                           <h2 workstation-tile-title>Invoicing & Payments</h2>
                            <p workstation-tile-description>Freelancers can send invoices to clients easily by clicking a few buttons and clients can easily make payments via the various payment options available in the Workstation.</p>
                        </div> 
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="d-flex flex-column align-items-center justify-content-center m-auto" workstation-card>
                        <img src="/icons/invoicing-payments.svg" alt="" workstation-tile-svg>
                        <div class="d-flex flex-row justify-content-between align-items-center my-auto" workstation-tile-logos>
                            <img src="/img/logo.png" alt="" workstation-tile-afriblocks-logo>
                            <span workstation-tile-x-logo>x</span>
                            <img src="/icons/techstars_.svg" alt="" workstation-tile-techstars-logo>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="vector-1" class="bg-body d-flex align-items-center justify-content-center">
        <img src="/icons/right-left-dashed.svg" alt="" workstation-separator>
    </section>
    <section id="business-profile" class="bg-body pb-5">
        <div class="container">
            <div class="row text-light">
                <div class="col-md-6 col-sm-12 mx-auto">
                    <div class="d-flex flex-column align-items-center justify-content-center m-auto" workstation-card>
                        <img src="/icons/business-profiles.svg" alt="" workstation-tile-svg>
                        <div class="d-flex flex-row justify-content-between align-items-center my-auto" workstation-tile-logos>
                            <img src="/img/logo.png" alt="" workstation-tile-afriblocks-logo>
                            <span workstation-tile-x-logo>x</span>
                            <img src="/icons/techstars_.svg" workstation-tile-techstars-logo>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 my-auto">
                    <div class="d-flex flex-row align-items-center justify-content-start">
                        <div class="d-flex p-4 rounded-circle justify-content-center align-items-center" workstation-tile-rounded>
                            <span workstation-tile-number>4</span>
                        </div>
                        <div class="d-flex justify-content-start flex-column align-items-start" workstation-tile-left>
                           <h2 workstation-tile-title>Business profiles</h2>
                            <p workstation-tile-description>You can create and share your Freelancer or Client business profile with ease and build your reputation on Afriblocks Workstation.</p>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="need-help" class="bg-body pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12" need-help-container>
                    <div class="d-flex flex-column justify-content-center align-items-center mx-auto">
                        <h1 need-help-title>Need help to get started?</h1>
                        <p need-help-description>Reach out to us if you have a uinique request or need help on how to get started with AfriBlocks Workstation</p>
                        <div class="d-flex flex-column flex-sm-row mx-auto justify-content-around align-items-center" need-help-actions>
                            <router-link to="/post-a-job" class="btn btn-success  btn-hover d-flex justify-content-center align-items-center mx-auto" custom-button need-help-button>
                                <span need-help-button-text>Contact Us</span>
                            </router-link>
                            <b need-help-space></b>
                            <router-link to="/post-a-job" class="btn btn-outline-success  btn-hover d-flex justify-content-center align-items-center mx-auto" custom-button custom-button-outline need-help-button>
                                <span need-help-button-text-success>Get Started</span>
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<style scoped>
  .hero-section{
    width: 100%;
    height: 364px;
     background: /*linear-gradient(0deg, rgba(130, 85, 19, 0.06), rgba(130, 85, 19, 0.06)), linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),*/ url("/img/hiw-bg.png") no-repeat; 
    background-size: cover;
  }
</style>

