<script setup>
import { RouterLink } from 'vue-router'
</script>
<template>
  <section id="footer" class="bg-body">
    <div class="container border-bottom border-dark">
      <div class="row" footer-top>
          <div class="col-xs-12 col-md-6 text-start">
            <div class="d-flex flex-row justify-content-between my-auto align-items-center" footer-logos>
              <img src="/img/logo.png" alt="" footer-afriblocks-logo>
              <span footer-x>x</span>
              <img src="/icons/techstars_.svg" alt="" footer-tech-stars-logo>
            </div>
            <p footer-paragraph>The Pan-African marketplace #ConnectingProfessionals</p>
            <p footer-paragraph>info@afriblocks.com | hello@afriblocks.com</p>
            <div class="d-flex flex-row mt-3">
              <a href="" class="py-3 pe-3"><img src="/icons/facebook.svg" alt=""></a>
              <a href="" class="p-3"><img src="/icons/twitter.svg" alt=""></a>
              <a href="" class="p-3"><img src="/icons/instagram.svg" alt=""></a>
              <a href="" class="p-3"><img src="/icons/linkedin.svg" alt=""></a>
              <a href="" class="p-3"><img src="/icons/youtube.svg" alt=""></a>
            </div>
          </div>
          <div class="col-xs-12 col-md-3 text-start">
            <h2 footer-title>Navigation</h2>
            <router-link to="/" footer-link>About us</router-link>
            <router-link to="/" footer-link>Our team</router-link>
            <router-link to="/" footer-link>How it works</router-link>
            <router-link to="/" footer-link>Why AfriBlocks</router-link>
            <router-link to="/" footer-link>Blog</router-link>
          </div>
           <div class="col-xs-12 col-md-3 text-start">
            <h2 footer-title>Resources</h2>
            <router-link to="/" footer-link>#TheAfricanFreelancerSeries</router-link>
            <router-link to="/" footer-link>Code of Conduct</router-link>
            <router-link to="/" footer-link>Privacy Policy</router-link>
            <router-link to="/" footer-link>Media Kit</router-link>
          </div>
      </div>
    </div>
    <div class="container mb-2">
      <div class="row" footer-bottom>
        <div class="col-sm-12 col-md-8">
          <p footer-copyright>&copy; AfriBlocks. All rights reserved.</p>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="text-light fs-6 fw-light d-flex flex-row justify-content-between">
            <router-link to="/privacy-policy" footer-link>Terms and Conditions</router-link> 
            <router-link to="/privacy-policy" footer-link>Privacy Policy</router-link> 
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<style scoped>
  .reduced-p{
    font-size : 0.8rem !important;
  }
  .bg-body{
    background:#1A1A1A !important;
  }
</style>