<script setup>
import { RouterLink } from 'vue-router'
</script>
<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-body">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="/img/logo.png" alt="AfriBlocks Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse bg-body  text-center" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <router-link to="/" class="nav-link" active-class="active">Home</router-link>
            </li>
            <li class="nav-item">
                <router-link class="nav-link" to="/workstation" active-class="active">How it works</router-link>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Find
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="d-flex flex-column">
                                <span class="fs-6 fw-light">Find Jobs</span>
                                <span class="fs-6 text-muted fw-light">Get the right job for your skills</span>
                            </div>
                        </a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="d-flex flex-column">
                                <span class="fs-6 fw-light">Find Talent</span>
                                <span class="fs-6 text-muted fw-light">Post a job and hire a pro</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <router-link class="nav-link" to="/community" active-class="active">Community</router-link>
            </li>
            <li class="nav-item">
                 <router-link class="nav-link" to="about-us">About us</router-link>
            </li>
            <li class="nav-item">
                 <router-link class="nav-link" to="/blog">Blog</router-link>
            </li>
        </ul>
        <div class="row">
            <div class="col-md-6 col-sm-12 my-auto">
                <router-link to="/login" class="text-light text-decoration-none nav-login">Login</router-link>
            </div>
            <div class="col-md-6 col-sm-12 my-auto">
                <router-link to="/get-started" class="btn d-flex justify-content-center align-items-center mx-auto" custom-button nav-button>
                    <span nav-button-text>Get Started</span>
                </router-link>
            </div>
        </div>
        </div>
    </div>
    </nav>
</template>
<style scoped>

.navbar-dark{
    background-color: #1F1F1F !important;
    height: 100px;
}

.nav-link{
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #FFFFFF;
}

.nav-login{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.bg-body{
    background:#1A1A1A !important;
}

.dropdown-menu.bg-dark{
    border-radius: none;
}

.nav-link{
    color: #fff !important;
}

.nav-link.active{
    position: relative;
}

@media (min-width: 992px) { 
    .nav-link.active::after{
        content: '';
        position: absolute;
        width: 25%;
        align-self: center;
        display: block;
        height: 4px;
        background-color: #fff;
        bottom: -3px;
        left:37.5%;
        border-radius: 8px;
    }
}
</style>