<script setup>
defineProps({
  title: {
    type: String,
    required: true
  },
  label: {
    type: String,
    required: true
  },
  icon: {
    type:String,
    required:false
  }
})
</script>
<template>
    <div tile>
      <div class="d-flex flex-column justify-content-center align-items-center">
          <h3 tile-heading>
            <img :src="icon" alt="" v-if="icon">
            {{title}}
          </h3>
          <p tile-paragraph>{{label}}</p>
      </div>
    </div>
</template>

<style scoped>
    [tile]{
      min-height: 150px;
      width: 295px;
      background: #202120;
      border-radius: 10px;
    }
    [tile-heading]{
      margin-top:33.56px;
      font-weight: 600;
      font-size: 40.2231px;
      line-height: 97.5%;
      display: flex;
      align-items: center;
      text-align: center;
      color: #FFFFFF;
    }
    [tile] img{
      width: 36.39px;
      height: 34.75px;
    }
    [tile-paragraph]{
      font-size: 20px;
      line-height: 97.5%;
      display: flex;
      align-items: center;
      text-align: center;
      color: #FFFFFF;
      margin-top:12px;
    }
</style>