<script setup>
import { RouterLink } from 'vue-router'
</script>

<template>
  <section class="hero-section d-flex align-items-center justify-content-center px-3 text-light">
    <div class="text-center">
        <h1 custom-h1>Build better with</h1>
        <h1 custom-h1 class="typewrite text-success" data-period="2500" data-type='["Affordable", "Qualified", "Skilled", "Professional"]'></h1>
        <h1 custom-h1>freelancers</h1>
        <p class="fw-light" custom-hero-p>The global pan african market place</p>
        <div class="d-sm-flex justify-content-around flex-column-md mt-5">
          <router-link to="/post-a-job" class="btn  me-2 my-2 d-flex m-auto align-items-center justify-content-center" custom-button>
            <span custom-button-text>Post a Job</span>
          </router-link>
          <router-link to="/freelancers" class="btn my-auto me-2  d-flex m-auto align-items-center justify-content-center" custom-button custom-button-outline>
            <span custom-button-text-outline>Become a Freelancer</span>
          </router-link>
        </div>
    </div>
  </section>
  <section id="partners" class="d-flex justify-content-md-around  flex-md-row pt-5 pb-5 overflow-hidden overflow-scroll bg-body">
    <div>
      <img src="/img/logo-techcrunch.81a23dcd.png"  width="160" alt="">
    </div>
    <div>
      <img src="/img/logo-afrotech.a7d2cc15.png" width="160" alt="">
    </div>
    <div>
      <img src="/img/logo-disrupt-africa.254ea7ac.png" width="160" alt="">
    </div>
    <div>
      <img src="/img/logo-geekwire.741dd920.png"  width="160" alt="">
    </div>
    <div>
      <img src="/img/logo-techzim.d9adbf93.png"  width="160" alt="">
    </div>
  </section>
  <section id="featured-services" class="w-100 mb-0 bg-body position-relative">
      <div class="text-center  mb-3">
          <h2 section-title>Featured services</h2>
          <p section-description>Some work from our freelancers</p>
      </div>
      <div class="row mt-5 bg-transparent">
        <div class="row col-md-12">
            <div class="col-sm-12 col-md-6 feature-div">
                <a class="d-flex text-center text-light text-decoration-none feature-item justify-content-center  flex-column m-auto align-items-center">
                    <img src="/img/web-designers.png" class="feature-image" alt="">
                    <h4 class="fw-light fs-5">Web Designers</h4>
                </a>
            </div>
            <div class="d-none-sm col-md-6"></div>
        </div>
        <div class="row col-md-12">
            <div class="d-none-sm col-md-6 position-relative"></div>
            <div class="col-sm-12 col-md-6 feature-div">
                <a class="d-flex text-center text-light text-decoration-none feature-item justify-content-center  flex-column m-auto align-items-center">
                    <img src="/img/logo-designers.png" class="feature-image" alt="">
                    <h4 class="fw-light fs-5">Logo Designers</h4>
                </a>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-sm-12 col-md-6 feature-div">
                <a class="d-flex text-center text-light text-decoration-none feature-item justify-content-center  flex-column m-auto align-items-center">
                    <img src="/img/illustrators.png"  class="feature-image" alt="">
                    <h4 class="fw-light fs-5">illustrators</h4>
                </a>
            </div>
            <div class="d-none-sm col-md-6"></div>
        </div>
        <div class="row col-md-12">
            <div class="d-none-sm col-md-6"></div>
            <div class="col-sm-12 col-md-6 feature-div">
                <a class="d-flex text-center text-light text-decoration-none feature-item justify-content-center  flex-column m-auto align-items-center">
                    <img src="/img/mobile-app-devs.png" class="feature-image" alt="">
                    <h4 class="fw-light fs-5">Software Developers</h4>
                </a>
            </div>
        </div>
      </div>
              <div home-lines>
          <div home-dots>
            <div dot-outter></div>
            <div dot-inner></div>
            <div dot-left></div>
          </div>
          <div home-v-line></div>
          <div home-dots>
            <div dot-outter></div>
            <div dot-inner></div>
            <div dot-right></div>
          </div>
          <div home-v-line></div>
          <div home-dots>
            <div dot-outter></div>
            <div dot-inner></div>
            <div dot-left></div>
          </div>
          <div home-v-line></div>
          <div home-dots>
            <div dot-outter></div>
            <div dot-inner></div>
            <div dot-right></div>
          </div>
        </div>
  </section>
  <section id="how-it-works" class="w-100 mt-0 bg-body">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mx-auto row mt-5 how-we-border">
            <div class="col-md-12 text-center">
                <h2 section-title>How it works</h2>
                <p section-description>We make it easy, No headaches</p>
            </div>
            <div class="col-md-12 row" section-body>
                <div class="col-md-12  col-sm-12  col-lg-4 d-flex flex-column justify-content-center align-items-center">
                  <img src="/img/icon-job.png" alt="" hiw-item-image>
                  <h2  hiw-item-title class="mt-4">Post a job</h2>
                  <p hiw-item-description class="mt-2">We will connect you with the right vetted freelancer for the job.</p>
                </div>

                <div class="col-md-12 col-sm-12 col-lg-4 d-flex flex-column justify-content-center align-items-center">
                  <img src="/img/icon-project.png" alt="" hiw-item-image>
                  <h2 hiw-item-title class="mt-4">Project management</h2>
                  <p hiw-item-description class="mt-2">Get qualified proposals. We manage every project on your behalf.</p>
                </div>

                <div class="col-md-12 col-sm-12 col-lg-4 d-flex flex-column justify-content-center align-items-center">
                  <img src="/img/icon-payment.png" alt="" hiw-item-image>
                  <h2 hiw-item-title class="mt-4">Payment simplified</h2>
                  <p hiw-item-description class="mt-2">Pay fixed price, payment goes into escrow, pay for work you approve.</p>
                </div>
            </div>
            <div class="col-md-12 text-center d-flex justify-content-center align-items-center" section-footer>
              <router-link to="/post-a-job" class="btn btn-hover d-flex m-auto align-items-center justify-content-center" custom-button hiw-button>
                <span section-button-text>Post a job</span>
              </router-link>
            </div>
        </div>
      </div>
    </div>
  </section>
  <section id="services" class="bg-body">
      <div class="container">
        <div class="row">
          <div class="row col-md-12 mt-3">
            <div class="col-md-12 text-center">
                <h2 section-title>Services</h2>
                <p section-description>Get matched with the right freelancer for your project</p>
            </div>
          </div>
          <div class="row col-md-12 gx-5 gy-3 mx-auto" section-body>
              <div class="col-md-6 col-lg-4 col-sm-12 mt-5">
                <div class="d-flex flex-column align-items-center justify-content-center text-center" service-item>
                    <img src="/icons/web-designers.svg" alt="" service-item-image>
                    <h2 service-item-title class="text-light">Web Designers</h2>
                    <p service-item-description>Wordpress, Shopify, Squarespace, PHP, Python.</p>
                </div>
              </div>

              <div class="col-md-6 col-lg-4  col-sm-12 mt-5">
                <div class="d-flex flex-column align-items-center justify-content-center text-center text-light" service-item>
                    <img src="/icons/graphic-designers.svg" alt="" service-item-image>
                    <h2 class="text-light" service-item-title>Graphic Designers</h2>
                    <p service-item-description>Logos, Brand style guide, illustration and Flyers.</p>
                </div>  
              </div>
              <div class="col-md-6 col-lg-4  col-sm-12 mt-5">
                <div class="d-flex flex-column align-items-center justify-content-center text-center text-light" service-item>
                    <img src="/icons/mobile-developers.svg" alt="" service-item-image>
                    <h2 class="text-light" service-item-title>Mobile App Developers</h2>
                    <p service-item-description>Android, IOS swift, React native, Ionic.</p>
                </div>
              </div>

              <div class="col-md-6 col-lg-4  col-sm-12 mt-5">
                <div class="d-flex flex-column align-items-center justify-content-center text-center text-light" service-item>
                    <img src="/icons/digital-marketers.svg" alt="" service-item-image>
                    <h2 class="text-light" service-item-title>Digital Marketers</h2>
                    <p service-item-description>Social media management and Email marketing.</p>
                </div>
              </div>

              <div class="col-md-6 col-lg-4  col-sm-12 mt-5">
                <div class="d-flex flex-column align-items-center justify-content-center text-center text-light" service-item>
                    <img src="/icons/video.svg" alt="" service-item-image>
                    <h2 class="text-light" service-item-title>Audio/Visual Effects</h2>
                    <p service-item-description>Photo & Video editing, Voice over, Animation.</p>
                </div>
              </div>

              <div class="col-md-6 col-lg-4 col-sm-12 mt-5">
                <div class="d-flex flex-column align-items-center justify-content-center text-center text-light" service-item>
                    <img src="/icons/virtual-assistants.svg" alt="" service-item-image>
                    <h2 class="text-light" service-item-title>Virtual Assistants</h2>
                    <p style="width:267px" service-item-description>Writers, Researchers, Scheduling, Data entry.</p>
                </div>
              </div>
          </div>
          <div class="row col-md-12 mx-auto">
            <div class="col-md-12 text-center my-5">
                <router-link to="/freelancers" class="btn btn-hover d-flex justify-content-center align-items-center mx-auto" custom-button services-button>
                  <span section-button-text>Join our freelance community</span>
                </router-link>
            </div>
          </div>
        </div>
      </div>
  </section>
  <section id="whats-new" class="w-100 bg-body d-none d-md-block">
    <div class="container">
      <div class="row">
        <div class="col-md-12 row mx-auto how-we-border" style="margin-top:222px">
            <div class="col-md-12 text-center">
                <h2 class="text-light fs-3 fw-bold">What's New ?</h2>
                <p section-description>Workstation by AfriBlocks</p>
            </div>
            <div class="col-md-12 row" style="margin-top:48.61px">
               <div class="col-md-12 d-flex flex-column align-items-center justify-content-center text-md-center">
                  <img src="/icons/pana.svg" alt="" what-new-image>
                  <p what-new-text>AfriBlocks has launched its new Workstation to enable business owners post jobs, hire freelancers, form teams and effectively communicate to make every project or job successful.</p>
               </div>
            </div>
            <div class="col-md-12 text-center mt-5">
              <router-link to="/workstation" class="btn btn-hover d-flex justify-content-center align-items-center mx-auto" custom-button what-new-button>
                <span section-button-text>What can this workstation do for you?</span>
              </router-link>
            </div>
        </div>
      </div>
    </div>
  </section>
   <section id="resources" class="bg-body">
      <div class="container">
        <div class="row">
          <div class="row col-md-12 mt-3">
            <div class="col-md-12 text-center">
                <h2 section-title>Resources</h2>
                <p section-description>Building Africa's future of work</p>
            </div>
          </div>
          <div class="row col-md-12 gx-5 gy-3 mb-5 mx-auto" section-body>
              <div class="col-md-6 col-sm-12">
                <div class="d-flex flex-column justify-content-center align-items-center mx-auto">
                  <img src="/img/resources-report.png" alt="..." resource-image>
                  <h2 resource-title>Africa and The future of work report 2021</h2>
                  <p resource-description>This report will analyze the impending global talent shortage, Africa’s growing tech ecosystem and the continent’s freelance economy.</p>
                  <router-link class="btn btn-hover d-flex justify-content-center align-items-center mx-auto" to="/atfw-report" custom-button resource-button>
                    <span section-button-text>Download report</span>
                  </router-link>
                </div>
              </div>

              <div class="col-md-6 col-sm-12">
                <div class="d-flex flex-column justify-content-center align-items-center mx-auto">
                  <img src="/img/resources-team.png" alt="..." resource-image>
                  <h2 resource-title>The Pan-African freelancers community</h2>
                    <p resource-description>Have questions on freelancing? Want to meet other freelancers? Need freelancing resources? This community was created for you.</p>
                     <router-link class="btn btn-hover d-flex justify-content-center align-items-center mx-auto" to="/freelancers" custom-button resource-button>
                      <span section-button-text>Join community</span>
                    </router-link>
                </div>
              </div>
          </div>
        </div>
      </div>
  </section>
  <section id="success-stories" class="w-100 mt-0 bg-body">
    <div class="container">
      <div class="row">
        <div class="col-md-12 row mt-5 mx-auto how-we-border">
            <div class="col-md-12 text-center">
                <h2 section-title>Success Stories</h2>
                <p section-description>Highlighting builders from our global community</p>
            </div>
            <div class="col-md-12 row" section-body>
                <div class="col-md-6 col-sm-12 p-2">
                  <div class="card  text-center mx-auto border-0 bg-transparent">
                    <img src="/img/stories-customer.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <router-link class="btn btn-hover  d-flex justify-content-center align-items-center mx-auto" to="/stories-customer" custom-button stories-button>
                        <span section-button-text>Customer stories</span>
                      </router-link>
                    </div>
                  </div>
                </div>
                 <div class="col-md-6 col-sm-12 p-2">
                  <div class="card text-center mx-auto border-0 bg-transparent">
                    <img src="/img/stories-freelancer.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <router-link class="btn btn-hover  d-flex justify-content-center align-items-center mx-auto" to="/stories-customer" custom-button stories-button>
                        <span section-button-text>Freelancer stories</span>
                      </router-link>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </section>
  <section id="events" class="w-100 mt-0 bg-body">
    <div class="container">
      <div class="row">
        <div class="col-md-12 row mx-auto mt-5 how-we-border">
            <div class="col-md-12 text-center">
                <h2 section-title>Events</h2>
                <p section-description>We share knowledge and impact lives</p>
            </div>
            <div class="col-md-12 row" section-body>
                <div class="col-md-6 col-sm-12">
                  <div class="d-flex flex-column justify-content-center align-items-center mx-auto">
                    <img src="/img/event-blockchain.png" alt="..." event-image>
                    <h2 resource-title>The Black Blockchain Summit 2021</h2>
                    <p resource-description>The virtual summit brings together Blockchain entrepreneurs and innovators to discuss a myriad of challenges facing Black communities of the diaspora and the continent of Africa.</p>
                    <p resource-description class="text-light">24-25 Sept 2021 - Washington DC, USA</p>
                      <router-link class="btn btn-hover d-flex justify-content-center align-items-center mx-auto" to="/freelancers" custom-button resource-button>
                      <span section-button-text>Get Free Ticket</span>
                    </router-link>
                  </div>
                </div>
                 <div class="col-md-6 col-sm-12">
                  <div class="d-flex flex-column justify-content-center align-items-center mx-auto">
                    <img src="/img/event-freelancers.png" alt="..." event-image>
                    <h2 resource-title>The Freelancers Summit 2021</h2>
                    <p resource-description>Vision of the meetup is to share knowledge, opportunities and to trigger healthy conversations around freelancing. Come together to make new contacts and share your expertise.</p>
                    <p resource-description class="text-light">7 May 2021 - Harare, Zimbabwe</p>
                      <router-link class="btn btn-hover d-flex justify-content-center align-items-center mx-auto" to="/freelancers" custom-button resource-button>
                      <span section-button-text>Read More</span>
                    </router-link>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </section>
  <section id="community-stories" class="w-100 mt-0 bg-body">
    <div class="container">
      <div class="row">
        <div class="col-md-12 row mx-auto mt-5 how-we-border">
            <div class="col-md-12 row mt-4">
                <div class="col-md-3 col-sm-6 col-xs-6">
                  <div class="text-light community-stories-inner fs-6 py-3">Community Stories</div>
                </div>
                <div class="col-10 col-md-7">
                  <div class="text-light my-auto text-start py-3">Five self-taught freelancer ideas</div>
                </div>
                <div class="col-2">
                    <div class="py-3 d-flex flex-row justify-content-center">
                      <a href="" class="mx-1">
                        <img src="/icons/Polygon 4.svg" alt="">
                      </a>
                      <a href="" class="mx-1">
                        <img src="/icons/Polygon 5.svg" alt="">
                      </a>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </section>
  <section id="partners" class="pt-5 pb-5 overflow-hidden bg-body">
    <div class="container">
        <div class="row">
            <div class="col-md-12 row mx-auto mt-5">
            <div class="col-md-12 text-center">
                <h2 section-title>Partners</h2>
            </div>
          </div>
          <div class="col-md-12 row" section-body>
              <split-carousel :autoplay="true" :display-amount="3" :interval="1500" timing-function="linear" :speed="1500" :height="150" :width="180">
                <split-carousel-item v-for="item in ['/img/venture-crush.png', '/img/google-startups.png', '/img/techstars.png' , '/img/western-union.png']" :key="item">
                  <img :src="item" alt="image" width="150">
                </split-carousel-item>
              </split-carousel>
          </div>
        </div>
    </div>
  </section>
  <section id="ubuntu" class="w-100 mt-0 bg-body">
    <div class="container">
      <div class="row">
        <div class="col-md-12 row mt-5 mx-auto how-we-border">
            <div class="col-md-12 row mt-3">
                <div class="col-md-6 col-sm-12 p-2">
                  <div class="d-flex flex-column justify-content-center align-items-center mx-auto">
                    <h2 ubuntu-title>Ubuntu</h2>
                    <p ubuntu-description>We made it easy to work together</p>
                    <img src="/icons/dash.svg" alt="" ubuntu-dash>
                    <p ubuntu-type>#Connecting <span class="typewrite" data-period="2500" data-type='["People", "Cultures", "Backgrounds"]'></span></p>
                  </div>
                </div>
                 <div class="col-md-6 col-sm-12">
                    <img src="/img/co-founder.png" alt="..." ubuntu-video>
                </div>
            </div>
        </div>
      </div>
    </div>
  </section>
</template>
<style scoped>

  .feature-div{
    z-index:10;
  }

  .feature-image{
    max-width: 150px;
  }
  .feature-item:hover{
    border: 1px solid #0d7a3e;
    transform: scale(1.02);
    transition: .5s;
  }
  .hero-section{
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, rgba(130, 85, 19, 0.05), rgba(130, 85, 19, 0.05)), linear-gradient(89.48deg, rgba(0, 0, 0, 0.8) 37.12%, rgba(0, 0, 0, 0.152) 78.94%), url('/img/main-bg.png') no-repeat;
    background-size: cover;
  }
  .how-we-border{
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 200px;
    background: #1f1f1f;
    border: 1px solid rgba(95,95,95,.5);
  }

  .community-stories-inner{
    border-radius: 20px 0 0 20px;
    box-sizing: border-box;
    background: #262626;
    border: 1px solid rgba(255, 255, 255, 0.05);;
  }

  #partners::-webkit-scrollbar{
    width: 0;
  }

@keyframes pulse-green {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
	}
	
	70% {
		transform: scale(1.5);
		box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
	}
}

@media (max-width: 992px) {

    .how-we-border{
      padding: 25px;
    }
}
</style>