<script setup>
import { RouterLink, RouterView } from 'vue-router'
import HelloWorld from '@/components/HelloWorld.vue'
import GuestHeader from '@/components/partials/GuestHeader.vue';
import FooterView from '@/components/partials/Footer.vue';
</script>
<style>
  body{
    background:#1A1A1A;
    font-family:'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }
  .bg-body {
    background : #1A1A1A !important;
  }
  p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
  }
  [custom-h1]{
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 153%;
    text-align: center;
  }

  .btn-hover { transition: all .5s ease-in-out; }
  .btn-hover:hover{
    transform: scale(1.1);
  }

  .feature-item{
    width: 482px;
    height: 193px;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #273F31;
    border-radius: 20px;
  }
  [custom-button]{
    width: 352px;
    height: 72px;
    background: #0D7A3E;
    border-radius: 10px;
  }

  [custom-hero-p]{
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 97.5%;
    color: #CCCCCC;
  }

  [custom-button-text]{
    font-style: normal;
    font-weight: 400;
    font-size: 23px !important;
    line-height: 97.5%;
    text-align: center;
    color: #FFFFFF;
  }

  [custom-button-text-outline]{
    font-style: normal;
    font-weight: 400;
    font-size: 23px !important;
    line-height: 97.5%;
    text-align: center;
    color: #0D7A3E;
  }

  [custom-button-outline]{
    border: 2px solid #0D7A3E;
    background: none !important;
  }

  [nav-button]{
    width: 160px;
    height: 50px;
  }

  [nav-button-text]{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
  }

  [section-title]{
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 97.5%;
    color:#FFFFFF;
  }

  [section-description]{
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 97.5%;
    color: #D9D9D9;
    margin-top:2rem;
  }

  [section-body]{
    margin-top:118px;
  }

  [section-footer]{
    margin-top:79px;
  }

  [home-lines]{
    position: absolute;
    max-width: 1192px;
    width: 100%;
    top: 240px;
    left: 350px;
  }

  [home-dots]{
    width: 18px;
    height: 18px;
    border: 2px solid #0d7a3e;
    border-radius: 5px;
    margin: 0 auto;
  }

  [dot-outter]{
      width: 44px;
      height: 44px;
      background: #0d7a3e;
      opacity: .1;
      border-radius: 44px;
      margin: 0 auto;
      position: relative;
      top: -15px;
      left: -15px;
  }

  [dot-inner]{
    width: 4px;
    height: 4px;
    margin-top: 5px!important;
    background: #0d7a3e;
    border-radius: 4px;
    margin: 0 auto;
    position: relative;
    top: -44px;
  }

  [dot-left]{
    width: 238px;
    height: 2px;
    background: rgba(20,120,60,.1);
    position: relative;
    top: -45px;
    left: -238px;
  }

  [dot-right]{
    width: 238px;
    height: 2px;
    background: rgba(20,120,60,.1);
    position: relative;
    top: -45px;
  }

  [home-v-line]{
    height: 180px;
    width: 2px;
    background: #0d7a3e;
    margin: 0 auto;
  }

  [hiw-item-title]{
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 97.5%;
    color: #FFFFFF;
  }

  [hiw-item-description]{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 144.5%;
    text-align: center;
    color: #BFBFBF;
  }

  [hiw-item-image]{
    width: 106px;
    height: 105px;
  }

  [hiw-button]{
    width: 243px;
    height: 64px;
  }

  [section-button-text]{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 97.5%;
    color: #FFFFFF;
  }

  [service-item]{
    width: 362px;
    height: 258px;
    background: #1A1A1A;
    border: 1px solid rgba(196, 196, 196, 0.7);
    border-radius: 15px;
  }

  [service-item-image]{
    margin-top:61.25px;
  }

  [service-item-title]{
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 97.5%;
    margin-top: 27.25px;
  }

  [service-item-description]{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 144.5%;
    text-align: center;
    color: #BFBFBF;
    margin-top: 19px;
  }

  [services-button]{
    width: 407px;
    height: 64px;
    margin-top: 103px;
  }

  [what-new-img]{
    width: 674.98px;  
    height: 358.39px;
  }

  [what-new-text]{
    max-width:770px;
    font-size: 15px;
    line-height: 144.5%;
    text-align: center;
    color: #BFBFBF;
    margin-top:30.79px;
  }

  [what-new-button]{
    width: 588px;
    height: 64px;
  }

  [resource-image]{
    width: 530px;
    height: 142px;
    border-radius: 10px;
  }

  [resource-title]{
    font-size: 25px;
    line-height: 97.5%;
    color: #D9D9D9;
    text-align: center;
    margin-top:19px;
  }

  [resource-description]{
    font-size: 14px;
    line-height: 144.5%;
    text-align: center;
    color: #BFBFBF;
    max-width: 506px;
    margin-top: 15px;
  }


  [resource-button]{
    margin-top: 34px;
  }

  [stories-button]{
    width: 243px;
    height: 64px;
    margin-top: 40px;
  }

  [event-image]{
    width: 530px;
    height: 235px;
    border-radius: 10px;
  }

  [ubuntu-title]{
    font-weight: 600;
    font-size: 30px;
    line-height: 97.5%;
    color: #FFFFFF;
  }

  [ubuntu-description]{
    font-weight: 400;
    font-size: 25px;
    line-height: 97.5%;
    color: #D9D9D9;
    margin-top:24px;
  }

  [ubuntu-dash]{
    width: 213px;
    height: 5px;
    background: #0D7A3E;
    border-radius: 10px;
    margin-top: 24px;
  }

  [ubuntu-type]{
    font-weight: 400;
    font-size: 25px;
    line-height: 97.5%;
    color: #D9D9D9;
    margin-top:41px;
  }

  [ubuntu-type] span{
    color: #0D7A3E;
  }

  [ubuntu-video]{
    width: 425px;
    height: 209px;
    border-radius: 10px;
  }

  footer{
    font-family: 'DM Sans' !important;
  }

  [footer-top]{
    padding-bottom: 61px;
  }

  [footer-logos]{
    width: 290px;
  }

  [footer-x]{
    font-size: 21.8439px;
    line-height: 97.5%;
    text-align: center;
    color: #FFFFFF;
  }

  [footer-tech-stars-logo]{
    width:118.83px;
    height: 20.87px;
  }

  [footer-paragraph]{
    font-family: 'DM Sans';
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.3px;
    color: #FFFFFF;
    margin-top:10px;
  }

  [footer-paragraph]:first-of-type{
    margin-top:28px;
  }

  [footer-title]{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.231818px;
    color: #FFFFFF;
  }

  [footer-link]{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.204545px;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 20px;
    display: block;
  }

  [footer-copyright]{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.204545px;
    color: #FFFFFF;
    margin-top: 20px;
  }

  [workstation-card]{
    position: relative;
    display:block;
    width: 492px;
    height: 475px;
    background: #202120;
    border-radius: 20px;
  }
  [workstation-tile-svg]{
    width: 396px;
    height: 285px;
  }

  [workstation-tile-logos]{
    position:absolute;
    bottom: 19.85px;
    right: 19.85px;
    width: 59px;
    height: 9.91px;
  }
  [workstation-tile-afriblocks-logo]{
    width: 21.28px;
    height: 9.91px;
  }
  [workstation-tile-x-logo]{
    font-size: 4.58646px;
    line-height: 97.5%;
    text-align: center;
    color: #FFFFFF;
    width: 3.78px;
    height: 4.41px;
  }

  [workstation-tile-rounded]{
    width: 50px;
    height: 50px;
    border: 1px solid #0D7A3E;
  }

  [workstation-tile-left]{
    margin-left:26px;
    margin-top:115px;
  }

  [workstation-tile-right]{
    margin-left:26px;
    margin-top:115px;
  }
  [workstation-tile-title]{
    font-weight: 600;
    font-size: 30px;
    line-height: 97.5%;
    color: #D9D9D9;
  }

  [workstation-tile-description]{
    margin-top:30px;
    width: 493px;
    height: 69px;
    font-size: 16px;
    line-height: 144.5%;
    color: #BFBFBF;
  }

  [workstation-tile-number]{
    width: 6px;
    height: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 97.5%;
    text-align: center;
    color: #0D7A3E;
  }

  [workstation-separator]{
    max-width: 789px;
    height: 163px;
  }

  [need-help-container]{
    margin-top: 124px;
    background: #202120;
    border-radius:10px;
    margin-bottom: 72px;
  }

  [need-help-title]{
    margin-top:86px;
    width: 530px;
    height: 43px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40.2231px;
    line-height: 97.5%;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
  }

  [need-help-description]{
    margin-top: 40px;
    max-width: 705px;
    height: 37px;
    font-size: 20px;
    line-height: 140%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
  }

  [need-help-actions]{
    max-width: 627px;
    margin-top:60px;
    margin-bottom:86px;
  }

  [need-help-button]{
    width: 300px;
    height: 72px;
  }

  [need-help-button-text], [need-help-button-text-success]{
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 97.5%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;

  }

  [need-help-button-text-success]{
    color: #0D7A3E;
  }

  [need-help-space]{
    margin-top:20px;
    width: 20px;
  }



  [page-title]{
    font-weight: 600;
    font-size: 50px;
    line-height: 97.5%;
    text-align: center;
    color: #FFFFFF;
  }

  [page-description]{
    font-size: 16px;
    line-height: 97.5%;
    text-align: center;
    color: #D9D9D9;
    margin-top:22px;
  }

  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {  }

  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {  }

  /* X-Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  }

  /* XX-Large devices (larger desktops, 1400px and up) */
  @media (min-width: 1400px) {  }
</style>

<template>
  <header class="sticky-top">
    <GuestHeader />
  </header>

  <RouterView />

  <footer>
    <FooterView />
  </footer>
</template>
